.pd-container {
  /* flex-direction: row; */

  padding: 1rem;
  margin-top: 7rem;

  /* display: flex;
  flex-direction: row;
  justify-content: center; */

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  /* background-color: red; */
}

.p-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ele);
  border-radius: 1rem;
  color: white;
  text-transform: capitalize;
  padding: 1rem;
  height: min-content;
  /* overflow: hidden; */
}

.pd-details {
  margin-left: 1rem;
}

.poke-sprites {
  width: 100%;
}

.main-sprites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-sprites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}

.main-sprites img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  margin: 8px;
  margin: 1rem;
}
.sub-sprites img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  margin: 4px;
  cursor: pointer;
}
.sub-sprites img:not(:active):hover,
.sub-sprites img:active {
  background-color: rgba(255, 255, 255, 0.281);
}

.pd-details table {
  width: 100%;
  padding: 1rem;
}

/* span {
  color: white;
}

li {
  color: white;
} */

.evoSprites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
}

.evoItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.evocard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

.evoItem:hover img {
  background-color: rgba(255, 255, 255, 0.281);
}

.evoItem img {
  width: 128px;
  height: 128px;
  border-radius: 1rem;
  flex-shrink: 0;
  padding: 0.5rem;
}

.evoTable {
  /* background-color: red; */
}

.ability-move-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.abitily-table,
.move-table {
  width: 100%;
  /* padding: 1rem; */
}

.--r--2 span {
  color: white;
}
