.pd-container {
  flex-direction: row;

  padding: 1rem;
  margin-top: 7rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p-preview {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 6rem 1rem 1rem auto; */
  background-color: var(--ele);
  /* background-color: rgba(33, 52, 92, 0.496); */
  border-radius: 1rem;
  color: white;
  text-transform: capitalize;
  /* background-color: red; */
  padding: 1rem;

  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

.pd-details {
  margin-left: 1rem;
}

.poke-sprites {
}

.main-sprites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-sprites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-sprites img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  margin: 8px;
  margin: 1rem;
}
.sub-sprites img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  margin: 4px;
  cursor: pointer;
}
.sub-sprites img:not(:active):hover,
.sub-sprites img:active {
  background-color: rgba(255, 255, 255, 0.281);
}

.pd-details table {
  width: 100%;
  padding: 1rem;
}
