*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.f-placeholder {
  width: 100%;
  height: 200px;
  border: 3px solid salmon;
}

:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.f2,
.f3,
.f4,
.f5 {
  width: calc(100% - 4rem);
  height: 90vh;
  padding: 0 1rem 0 1rem;
  border-radius: 1.5rem;
  margin: 1rem;
}

.f2 {
  background-color: salmon;
}
.f3 {
  background-color: cadetblue;
}
.f4 {
  background-color: palevioletred;
}
.f5 {
  background-color: seagreen;
}

.testf3 {
  /* padding: 200px;
  margin-top: 100px;*/
  /* border: 1px solid red; */
}
/* 
.toggle-switch {
  position: relative;
  width: 100px;
  padding-top: 1rem;
  border: 1px solid blueviolet;
}

label {
  position: absolute;
  width: 72px;
  height: 36px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 11px -5px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(36px);
  background-color: var(--dark);
  box-shadow: none;
} */
