:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.themeSwitch {
  position: relative;
  width: 100px;
  /* padding-top: 1rem; */
  /* border: 1px solid blueviolet; */
}

/* input:checked {
  --light: #28292c;
  --dark: #d8dbe0;
} */

label {
  position: absolute;
  width: 72px;
  height: 36px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
  /* border: 1px solid blueviolet; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.themeSwitch input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 8px -5px 0px 1px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(36px);
  background-color: var(--dark);
  box-shadow: none;
}
